<div class="jumbotron">
  <h1> Project Database </h1>
</div>

<h2>Add a project to the database:</h2><br>

<form action="/project" method="post">
  <label for="title">Project title:</label>
  <input id="title" name="title" type="text">

  <button type="submit">Create Project</button>
</form><br>


<% if @projects.any?() %>
  <p>Click on a project to add volunteers, update project title, or delete the project:</p>

  <ul>
    <% @projects.each do |project| %>
    <li><a href="/project/<%= project.id() %>"><%= project.title() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no projects added yet!</p>
<% end %><br>
