<div class='jumbotron'>
  <h1>List of vocab words</h1>
</div><br>

<h4>Add a new Word!</h4>
<form action="/" method="post">
  <div class="form-group">

    <label for="vocab">Enter your word here!</label>
    <input id="vocab" name="vocab" class="form-control" type="text"><br>

    <label for="definition">Enter your definition here!</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-outline-success">Submit!</button>
</form><br>

<% @list.each do |word| %>
  <h4><a href="/words/<%= word.id %>"><%= word.vocab %></a></h4>
<% end %><br><br>
