<div class='jumbotron'>
  <h1>Vocab Word</h1>
</div><br>
<div class='row'>
  <div class='col-sm-4'>
    <img src='/img/dictionary.png' alt='Picture of a dictionary.'>
  </div>
  <div class='col-sm-8'><br>
    <h4>Word: <%= @word.vocab %></p></h4><br>
    <% @word.definitions.each do |definition| %>
    <h4>Definition: <%=@word.definitions.index(definition) + 1%>: <%= definition %></h4>
  <% end %>
  </div>
</div><br>
<div class='row'>
  <form action="/definition" method="post">
    <div class="form-group">
      <label for="definition">Add Another Definition!</label>
      <input id="definition" name="definition" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Add!</button>
  </form>

  <a href='/'><button class="btn btn-outline-primary">Back to list!</button></a>
  <form action="/words/<%= @word.id %>" method="post">
  <button type="submit" class="btn btn-outline-warning">Delete Word</button>
</form>
</div>
