<div class="jumbotron">
  <h1> <%=@project.title() %> </h1>
</div>

<form action="/project/<%= @project.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="title">Rename your project:</label>
  <input type="text" name="title" id="title">

  <button type="submit">Update Project</button>
</form>
